<div class="fullscreen-container">
  <div id='map'></div>
  <div id='inputs'></div>
  <div id='errors'></div>
  <div id='directions'>
    <div id='routes'></div>
    <div id='instructions'></div>
  </div>
</div>
<div class="push"> </div>
<div class="container">

  <div class="col-md-offset-2 col-md-5">
    <h5> How to get your geojson file </h5>
    <ul>
      <li> Click on the map to set your starting point </li>
      <li> Click on the map again to set your destination point </li>
      <li> Mapbox directions will preview the suggested route for that route </li>
      <li> Every point of the route is draggable, so drag any point to another place to indicate that you travelled there too </li>
      <li> The new mapbox suggested route will be presented again </li>
      <li> A new button named download will be rendered after the first time a route is calculated </li>
      <li> Whenever your route is ready and calculated , you can choose to download the file </li>
      <li> Important notice, if you are on safari due to a bug the file will be not downloaded. Instead it will be rendered in the browser </li>
      <li> You are free to copy that into a .json file </li>
    </ul>
   <div class="col-md-2" id="download-button">
   </div>

  </div>
</div>
