<% provide(:title , "Home") %>
<div class="row">
    <div class="col-md-6 col-md-offset-1">
     <h1> Welcome to your journey app </h1>
     <p> A simple app to help you find stunning routes near you </p>
    </div>
    <div class="center  col-md-3  col-md-offset-1">
      <%= render template: "devise/sessions/new" %>
    </div>
  </div>
  <div class="row">
    <div class="center col-md-3 col-md-offset-8 ">
      <%= render template: 'devise/registrations/new.html.erb' %>
    </div>
  </div>


  <%= link_to "Sign in with Facebook" , user_omniauth_authorize_path(:facebook) %>
