<% provide(:title , "Home") %>
<div class= "center jumbotron">
  <div class = "row">
    <div class="col-md-7">
     <h1> Welcome to your journey app </h1>
     <p> A simple app to help you find stunning routes near you </p>
    </div>
    <div class="col-md-5">
      <%= render template: 'devise/registrations/new.html.erb' %>
    </div>
  </div>
</div>
