<% provide(:title , "Home") %>
<div class= "center jumbotron">
  <div class = "row">
    <div class="col-md-7">
     <h1> Welcome to your journey app </h1>
     <p> A simple app to help you find stunning routes near you </p>
    </div>
    <div class="col-md-5">
      <h2>New here ?Sign up</h2>
      <%= simple_form_for(:user, html: { class: 'form-horizontal' }) do |f| %>
          <%= f.input :username %>

          <%= f.input :password %>
          <%= f.button :submit %>
        <% end %>
    </div>
  </div>
</div>
