<div id="trails">
<table role="presentation" class="table table-striped">

  <% trails.each_with_index do |trail, index| %>
    <%= render partial: 'trails/trail', locals: {trail: trail , css_class:index} %>
  <% end %>

</table>


</div>
