<%= provide(:title , "Add Trail")%>

<%= javascript_tag do %>
  window.method_name = '<%= @method_name %>';
<% end %>
<div class="fullscreen-container">
  <div id='map'>
  </div>
  <div id="directions">
    <div id="routes" class="mapbox-directions-routes">
      <h5> Preview Trail </h5>
      <ul style="display:none">
        <li class= "mapbox-directions-route mapbox-directions-route-active">
          <div class="mapbox-directions-route-heading">
            Trail Name:
          </div>
          <div class="mapbox-directions-route-summary">
          </div>
          <div class="mapbox-directions-route-heading">
            First Point:
          </div>
          <div class="mapbox-directions-route-details">
          </div>
          <div class="mapbox-directions-route-heading">
            Finish Point
          </div>
          <div class= "mapbox-directions-route-details">
          </div>
          <div class="mapbox-directions-route-heading">
            Length:
          </div>
          <div class="mapbox-directions-route-details">
          </div>
        </li>
      </ul>
    </div>
   </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Add a new trail </h2>
      <%= render 'form' %>
    </div>
  </div>
</div>





