<%= javascript_tag do %>
  window.method_name = '<%= @method_name %>';
<% end %>
<%= provide(:title , "Add Trail")%>
<div class="fullscreen-container">
 <div id='map'>
 </div>
 <div class="container">
   <div class="row">
     <div class="col-md-offset-1 col-md-4">
       <h2>Add a new trail </h2>
       <%= render 'form' %>
     </div>
     <div class="col-md-offset-2 col-md-5">
       <div id="trail-info">
            <h3> Trail Info </h3>
            <ul>
              <li> Start Point: </li>
              <li> End Point: </li>
              <li> Trail length: </li>
            </ul>

       </div>


     </div>
   </div>
</div>





