<%= provide(:title ,  @trail.name) %>
<h2><%= @trail.name%></h2>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Point No.</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Elevation</th>
        <th>Description</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% if @track%>
      <% @track.points.each do |point| %>
        <tr>
          <td><%= point.name %></td>
          <td><%= point.lonlatheight %></td>
        </tr>
      <% end %>
    <%end%>
    </tbody>
  </table>
