
<div class="fullscreen-container">
  <div id="point-map">
  </div>
<div id='inputs'></div>
<div id='errors'></div>
<div id='directions'>
  <div id='routes'>
    <h6> Mapbox Suggested routes </h6>
  </div>
  <div id='instructions'></div>
</div>

  <div class="container">
    <div class="row">
    <h3> Search Options </h3>
    <ul class= "nav nav-pills">
      <li class="active"><a href="#search-near-point" aria-controls="search-near-point" role="tab" data-toggle="tab">Search Trails Near You</a></li>
      <li> <a href="#search-with-destination"aria-controls="search-with-destination" role="tab" data-toggle="tab"> Search your destination </a></li>
    </ul>
  </div>

  </div>

</div>



