html {
  overflow-y: scroll;
}

body {
  background-color:inherit;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


p {
  font-size: 1.1em;
  line-height: 1.7em; font-size: 30px;
  color: #D8D8D8;
  line-height: 41px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: white;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
abbr {
  border-bottom: 0px  !important;
}
.leaflet-touch {
  .leaflet-bar-part-single {
    -webkit-border-radius: 7px 7px 7px 7px;
            border-radius: 7px 7px 7px 7px;
    border-bottom: none;
  }

  .leaflet-control-locate {
    box-shadow: none;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
  }
}

.leaflet-control-locate {
  a {
    font-size: 1.4em;
    color: #444;
  }
  &.active {
    a {
      color: #2074B6;
    }
    &.following a {
      color: #FC8428;
    }
  }
}
