html {
  overflow-y: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  height:100%;

}


body {
  background-color: #F8F8F8;
  height: 100%;
  width:100%;
  margin:0;

}

.custom-navbar{
background-color: rgb(56, 56, 56);
}

.sign-up-button{

}
li {
    list-style-type: none;
 }
td a,
li a {
  color: #9D9D9D;
text-decoration: underline;
}


.intro-message{
color: rgb(255, 255, 255);

font-weight: normal;

line-height: 54px;

text-shadow: rgba(0, 0, 0, 0.329412) 0px 1px 1px;


}


.fullscreen-container{
  margin: 0 auto;
  width: 100%;
  position:relative
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#wrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4.5em;

}
.push {
  height:63.5px;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.footer {

background-color: rgb(56, 56, 56);

  height: auto;
  padding-bottom: 31px;
  position: relative;
  width: 100%;
}
.footer p {
  margin: 0
}

.footer img {
  max-width: 100%
}

.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px
}

.footer ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D
}

.footer ul li a {
  padding: 0 0 5px 0;
  display: block
}

.footer a {
  color: #78828D
}abbr {
  border-bottom: 0px  !important;
}


.leaflet-control-locate.active a {
  color: #2074B6;
}
.leaflet-control-locate.active.following a {
  color: #FC8428;
}


