// Place all the styles related to the Trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fullscreen-container{
  margin: 0 auto;
  width: 100%;
  position:relative
}

#map{
    height:550px;
    width:100%
};

#routes .mapbox-directions-route-heading{
  position: absolute;
  top:auto;
}

.imdb-star-avg{
  position:relative;
  top:75%;
}


.imdb-star-avg p{

  font-size: 1.2em !important;

}
#inputs,
#errors,
#suggestions,
#directions {
    position: absolute;
    min-width:300px;
    max-width:300px;
    max-height:550px;
}

#inputs {
    z-index: 10;
    top: 5px;
    left: 5px;
}
#directions {
    z-index: 99;
    background: rgba(0,0,0,.8);
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#directions  h5{
  text-align: center;
  color: #96997F;

}


#errors {
    z-index: 8;
    opacity: 0;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.25);
    top: 90px;
    left: 10px;
}

h5{
  /*text-align: center;*/
}

.leaflet-popup-content img {
  height:320px;
  width:100%;
 }
