<div class="container">
<footer class="footer">
  <small>
    <a href="https://github.com/thanosbellos/your_journey">Thanos Bellos Diploma Thesis</a>
    by <a href="https://github.com/thanosbellos">Thanos Bellos</a>
  </small>
  <nav>
  </nav>
</footer>
</div>

