<footer class="footer">
<div class="container">

  <small>
    <a href="https://github.com/thanosbellos/your_journey">Διπλωματική εργασία</a>
    <a href="https://github.com/thanosbellos">Thanos Bellos</a>
  </small>
  <nav>
  </nav>
</footer>
</div>

